<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    {%if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Open Password Manager</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark custom-bg-DimGrey border-bottom border-dark">
        <div class="container-fluid">
            <div class="mx-auto d-block" style="width:300px;height:50px">
              <img src="{{url_for('static',filename='art/opmtextlogo.png')}}" alt="" style="float:left;width:80%;height:100%;" class="d-inline-block align-top">
            </div>
        </div>
      </nav>
    </header>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
  </body>
</html>
